nav{
    background-color :rgba(219, 162, 88, 0.959)
    
}


#regular, #odd, #cure, #weird, #cures{
    text-align: center;
}

body{
    background-color:rgba(194, 144, 97, 0.904)
}


.card {
    margin-top: 40px;
    border-style: solid; 
    border-color: black;
    border-width: 2px;
}

.logo{
    height: 50px;
}
.card-img-top {
    width: 284px; height: 150px; margin:auto !important 
    }
.card {
    width:150px; height:375px; margin-top:200px !important
}

.box{
    border-style:groove
}

footer {
    background-color: #b47d55;

}

svg {
    font-size:20px; margin:auto !important
}

.container{
    text-align: center;
    color:;
}
main {
    text-align: center;
}
header {
    border-color: blanchedalmond
    
}
#popular {
    border-style:double;
    background-color:burlywood
    
}

#colortime{
    color: crimson;
}


.navbar-toggler {
    color:red
}

.nav-link{
    text-align: justify;
	color:black
}

#title {
    color: blueviolet;
    
}

{
    color: rgb(255, 0, 0);
}

#submitcolor{
    color:rgb(255, 255, 255)
}


input[type=text]{
    border:rgb(185, 105, 52) solid 3px;
    
}
.Phobo {
    margin-top: 2%;
}

.paddington .row{
    padding-bottom: ;
}

#cancelcolor{
    color:rgb(255, 255, 255)
}

.bestie {
    text-align: justify;
}

.home-testimonial{background-color:#6c83a2;height: 380px}.home-testimonial-bottom{background-color:burlywood;transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top: 20px;margin-bottom: 0px;position: relative;height: 130px;top: 190px}.home-testimonial h3{color: var(--orange);font-size: 14px;font-weight: 500;text-transform: uppercase}.home-testimonial h2{color: white;font-size: 28px;font-weight: 700}.testimonial-inner{position: relative;top: -174px}.testimonial-pos{position: relative;top: 24px}.testimonial-inner .tour-desc{border-radius: 5px;padding: 40px}.color-grey-3{font-family: "Montserrat", Sans-serif;font-size: 14px;color: #6c83a2}.testimonial-inner img.tm-people{width: 60px;height: 60px;-webkit-border-radius: 50%;border-radius: 50%;-o-object-fit: cover;object-fit: cover;max-width: none}.link-name{font-family: "Montserrat", Sans-serif;font-size: 14px;color: #6c83a2}.link-position{font-family: "Montserrat", Sans-serif;font-size: 12px;color:#6c83a2}


.star {
	font-size: 2rem;
	color: #ffc107;
	cursor: pointer;
	transition: color 0.2s;
  }
  .star.selected {
	color: #ffc107;
  }

  .reviewusbutton {
    position: fixed;
    bottom: 300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  .form-control {
    border:rgb(185, 105, 52) solid 3px;
  }







  













